* {
    cursor: default;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 20px;

    background-color: rgb(61, 61, 61);
    border-radius: 10px;
}

.card {
    background-color: black;
    padding: 5px;
    height: 400px;
    width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 0.3s;
    transform: scale(0.9);
}

.card:hover {
    transform: scale(1);
    box-shadow: 12px 0 24px rgb(161, 0, 0);

    font-family: sans-serif;
}

.card:hover h1 {
    transform: scale(1.3);
    font-weight: bolder;
    font-family: sans-serif;
}

.card image{
    width: 60px;
    height: 60px;

    transition: 10s;
}
/* 
.card:hover image {
    transform: rotate(360deg) scale(5);
} */


.card button {
    background-color: brown;
    color: white;
    border: 0;
    border-radius: 6px;
    padding: 5px 15px 5px ;
    margin-top: 10px;

    transition: 0.3s;
    transform: scale(1.1);
}

.card button:hover {
    transform: scale(1.4);
}

.card button:active {
    background-color: rgb(255, 255, 255);
    color: brown;
    transform: scale(1.2);
}